@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.coluna {
    width: 340px;
    background-color: dimgray;
    padding: 20px;
    position: fixed;
    height: 100%;
    box-shadow: 2px 0 5px   rgba(0, 0, 0, 0.801);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.conteudo {
    padding: 20px;
    height: 2000px; /* Simulando conteúdo longo */
}

.conteudo-janela {
    margin-left: 360px;
    width: calc(100% - 220px);
    overflow-y: auto;
    height: 100vh; /* Define a altura como 100% da janela de visualização */
    position: fixed; /* Torna o conteúdo fixo */
}

.section {
    height: 100%; /* Altura de cada seção */
    background-color: #eaeaea;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
}