@charset "UTF-8";

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(29, 29, 29);
    padding: 5px 0px;
    z-index: 1000;
    box-sizing: border-box; /*------*/
}

.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto; /*------*/
    width: 100%;
    overflow: hidden; /*------*/
}

.nav-esquerda {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: crimson;
    font-size: 20px;
    font-weight: bolder;
    flex-shrink: 0; /*-----*/
}

.nav-direita {
    list-style: none;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.nav-direita a {
    position: relative;
    color: crimson;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3 ease;
}

.nav-direita a:hover {
    color: white;
}

nav ul li a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

.nav-direita a:hover::after {
    visibility: visible;
    transform: scaleX(1);
}

.nav-direita a.active {
    color: white; /* Altere a cor do link ativo */
    font-weight: bold; /* Torne o texto mais destacado */
    border-bottom: 2px solid white; /* Adicione uma linha abaixo */
}

main {
    padding-top: 60px;
}

.content-section {
    padding: 60px 20px;
    min-height: 100vh;  
    border-bottom: 1px solid #ddd;
}

#home {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(39, 39, 39);
}

.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    padding: 20px;
    gap: 100px;
}

.home-img img { 
    max-width: 380px; 
    width: 100%;
    height: auto;
    border-radius: 50%; 
    border: 5px solid crimson;
}

.home-text {
    color: #fff;
    text-align: left; /*-----------------*/
}

.home-text h1 {
    font-size: 29px;
    margin-bottom: 10px; /*-----------------*/
}

.home-text h2 {
    font-size: 41px;
    margin-bottom: 30px; /*-----------------*/
    color: crimson;
}

.home-text p {
    font-size: 23px;
    margin-bottom: 30px; /*-----------------*/
}

.btn-container {
    display: inline-block;
    transition: transform 0.3s ease;
    margin-right: 5px;
}

.btn-container:hover {
    transform: translateX(4px) translateY(-4px);
}

.btn img {
    width: 65px;
    border-radius: 50%;
    border: 2px solid transparent;
    transition: border 0.3 ease;
}

.btn-container:hover .btn img {
    border: 2px solid crimson;
}

#sobre {
    background-color: gray;
}

#habilidades {
    background-color: gray;
}

#projetos {
    background-color: gray;
}
