@charset "UTF-8";

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(29, 29, 29);
    padding: 5px 0px;
    z-index: 1000;
    box-sizing: border-box;
}

.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
}

.nav-esquerda {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: crimson;
    font-size: 20px;
    font-weight: bolder;
    flex-shrink: 0;
}

.nav-direita {
    list-style: none;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.nav-direita a {
    color: crimson;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.nav-direita a:hover {
    text-decoration: underline;
}


main {
    padding-top: 60px;
}

.content-section {
    padding: 60px 20px;
    min-height: 100vh;  
    border-bottom: 1px solid #ddd;
}

#home {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(39, 39, 39);
}

.home-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    padding: 20px;
    gap: 50px;
}

.home-img img { 
    max-width: 500px; /*-----------------*/
    width: 100%; /*-----------------*/
    height: auto; /*-----------------*/
}

.home-text {
    color: #fff;
    text-align: left; /*-----------------*/
}

.home-text h1 {
    font-size: 24px;
    margin-bottom: 10px; /*-----------------*/
}

.home-text h2 {
    font-size: 36px;
    margin-bottom: 30px; /*-----------------*/
    color: crimson;
}

.home-text p {
    font-size: 18px;
    margin-bottom: 30px; /*-----------------*/
}

.button {
    display: flex;
    gap: 15px;
}

.btn {
    text-decoration: none;
    border: 2px solid #fff;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    transition: background-color 0.3s;
}

.linkedin:hover {
    background-color: #0077b5;
}

.github:hover {
    background-color: #333;
}

#sobre {
    background-color: gray;
}

#habilidades {
    background-color: gray;
}

#projetos {
    background-color: gray;
}
