@charset "UTF-8";

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    padding: 5px 0px;
    z-index: 1000;
    box-sizing: border-box;
}

.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
}

.nav-esquerda {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: crimson;
    font-size: 20px;
    font-weight: bolder;
    flex-shrink: 0;
}

.nav-direita {
    list-style: none;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.nav-direita a {
    color: crimson;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.nav-direita a:hover {
    text-decoration: underline;
}


main {
    padding-top: 60px;
}

.content-section {
    padding: 60px 20px;
    min-height: 100vh;  
    border-bottom: 1px solid #ddd;
}

#section1 {
    background-color: gray;
}

#section2 {
    background-color: gray;
}

#section3 {
    background-color: gray;
}

#section4 {
    background-color: gray;
}
